/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900);

/* RESET: http://meyerweb.com/eric/tools/css/reset/ | v2.0b1 | 201101 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,
abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,
strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,
figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{
margin:0;padding:0;border:0;outline:0;font-size:100%;font:inherit;vertical-align:
baseline;text-decoration:none;}article,aside,details,figcaption,figure,footer,
header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{
list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,
q:before,q:after{content:'';content:none;}ins{text-decoration:none;}del{
text-decoration:line-through;}table{border-collapse:collapse;border-spacing:0;}

/* DESIGN: http://www.coublet.com | Peter Varo | 2014  */
body
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12pt;
    font-weight: 300;
    line-height: 1.3;
    color: #808080;
}

sup
{
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.5em;
}

#main_content
{
    margin-left:  auto;
    margin-right: auto;
    width: 650pt;
    padding: 32pt;
}

.sub_content
{
    margin-left: 100pt;
    width: 450pt;
}

.block
{
    padding-bottom: 32pt;
}

#app_full
{
    text-align: center;
    padding-bottom: 32pt;
}

#app_name
{
    position: relative;
    top: 16pt;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 66pt;
    color: #0044CC;
}

#app_icon
{
    vertical-align: middle;
}

.marketing
{
    text-align: center;
    text-transform: uppercase;
    font-size: 16pt;
}

#screen_cast
{
    width:  650pt;
    height: 592pt;
}

#screen_shot
{
    text-align: center;
}

#question_and_answer_title
{
    text-transform: uppercase;
    font-size: 24pt;
}

.question_and_answer
{
    text-align: justify;
    text-indent: 32pt;
    padding: 16pt 0;
}

.question
{
    font-weight: 700;
    text-indent: 0;
    padding: 6pt 0 16pt;
    border-top: 0.75pt solid #E4E4E4;
    color: #0044CC;
}

#copyright
{
    padding-top: 16pt;
    text-align: center;
    font-size: 10pt;
    color: #B0B0B0;
}


